<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="./table.css" />
  <title>SSAFY</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id='app'>
    <div class='headtitle'>
      <h2>SSAFY HRM LIST</h2>
    </div>
    <div class='search_box'>
      <a @click="addEmp()">사원추가</a> |
      <a @click="showNameDiv()">이름으로 찾기</a> |
      <a @click="showIdDiv()">아이디로 찾기</a> |
      <a @click="findAllEmployees()">모든사원 보기</a>
    </div>
    <div>
      <div v-if="visibleSelection">
        <select name="select" id="select" @click="findById()">
          <option v-for="employee in emp" v-bind:value="employee.id">{{employee.name}}</option>
        </select>

      </div>
      <div v-if="visibleByName">
        <input type="text" @keyup="findByName">
      </div>

    </div>
    <table class='list_table'>
      <col width="10%">
      <col width="20%">
      <col width="20%">
      <col width="20%">
      <col width="10%">
      <tr>
        <th>사원 아이디</th>
        <th>사원명</th>
        <th>부서</th>
        <th>직책</th>
        <th>연봉</th>
      </tr>
      <!--  여기에 <tr v-for -->
      <tr v-for="(employee) in employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.dept_id}}</td>
        <td>{{employee.title}}</td>
        <td>{{employee.salary}}</td>
      </tr>

    </table>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data() {
        return {
          employees: null,
          emp : null,
          loading: true,
          visibleSelection : false,
          visibleByName : false,
          errored: false
        }
      },
      mounted() {
        axios
          .get('http://127.0.0.1:9999/api/findAllEmployees')
          .then(Response => (this.employees = Response.data))
          .catch(error => {
            console.log(error)
            errored = true
          })
          .finally(() => this.loading = false)

      },
      methods: {
        addEmp : function(){

        },
        showNameDiv : function(){
          
          this.visibleSelection = true;
          this.visibleByName = false;
        },
        showIdDiv : function(){
          this.visibleSelection = false;
          this.visibleByName = true;
        },
        findAllEmployees : function(){
          this.visibleSelection = false;
          this.visibleByName = false;
          axios
          .get('http://127.0.0.1:9999/api/findAllEmployees')
          .then(Response => (this.employees = Response.data))
          .catch(error => {
            console.log(error)
            errored = true
          })
          .finally(() => this.loading = false)
        },
        findById : function(){
          
          var id = event.target.value;
          //alert(this.selected)
          axios
          .get(`http://127.0.0.1:9999/api/findEmployeeById/${id}`)
          .then(Response => (this.employees = Response.data))
          .catch(error => {
            console.log(error)
            errored = true
          })
          .finally(() => this.loading = false)
        },
        findByName : function(e){
          var name = e.target.value;
          axios
          .get(`http://127.0.0.1:9999/api/findLikeEmployees/${name}`)
          .then(Response => (this.employees = Response.data))
          .catch(error => {
            console.log(error)
            errored = true
          })
          .finally(() => this.loading = false)
        }
      },
     
    })
  </script>
</body>

</html>